@page "/Movie/{id}"

@inject TitleDataServiceInterface TitleDataService 

@if (movie == null)
{
    <span>Movie is loading...</span>
}
else
{
    <h3>Details Movie:</h3>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@movie.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@movie.FullTitle</h5>
                    <p class="card-text">@movie.Plot.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@movie.ReleaseDate</li>
                    <li class="list-group-item">@movie.IMDbRating</li>
                    <li class="list-group-item">@movie.Directors</li>
                    <li class="list-group-item">@movie.Stars</li>
                    <li class="list-group-item">@movie.Companies</li>
                    <li class="list-group-item">@movie.Directors</li>
                    <li class="list-group-item">@movie.Awards</li>

                </ul>
            </div>
        </div>
        
        <div class="col">
            <div class="embed-responsive embed-responsive-1by1" width=250 >
                <iframe class="embed-responsive-item" src="@movie.Trailer.LinkEmbed"></iframe>
            </div>
        </div>
    </div>
}

@code {

[Parameter]
public String id { get; set; }

TitleData movie = null;
protected override async Task OnInitializedAsync()
 {
    movie = await TitleDataService.GetMovie(id);
 }  

}