@using MoviesProy.Client.Shared
<div class="jumbotron">

    <h4>Peliculas</h4>

    <div class="container-fluid">
        <div class="row mb-3">
            @foreach (var movie in Movies)
            {
                <div class="card-deck" style="max-width: 22rem">
                    <div class="col">
                        <div class="card h-100 card text-center">
                            <img src="@movie.image" class="card-img-top" alt="..." height="350px" width="150px">
                            <div class="card-body">
                                <h5 class="card-title">@movie.name</h5>
                                <p class="card-text"><b>Actors:</b> @movie.actors</p>
                                <p class="card-text"><b>Rating:</b> @movie.rating</p>
                                <p class="card-text"><b>Fecha de estreno:</b> @movie.premier</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
@code {
    [Parameter] public List<Movie> Movies {get;set;} 
}